<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
    <div class="articles-index">
      <p class="date"><em><%= article.created_at.strftime("%d %B %Y") %></em></p>
      <p class="title"><strong><%= article.title %></strong></p>
      <p class="description border-bottom border-secondary"><%= article.description %></p>

       <%= link_to 'Show', article %>
       <%= link_to 'Edit', edit_article_path(article) %>
       <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
