<table>
  <tbody>
    <% @articles.each do |article| %>
      <%= link_to article_path(article.id) do %>
        <div class="articles-index my-4">
          <p class="date"><%= article.created_at.strftime("%d %B %Y") %></p>
          <p class="title"><strong><%= article.title %></strong></p>
          <p class="description border-bottom border-secondary"><%= article.description %></p>
          <div class="d-flex flex-column align-items-start links">
           <%= link_to 'Show', article %>
           <%= link_to 'Edit', edit_article_path(article) %>
           <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
