<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo_brand.svg", alt: "Le logo Pauline Dussart" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "HOME", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ABOUT", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "BLOG", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "PORTFOLIO", portfolio_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "CONTACT", contact_path, class: "nav-link" %>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul>
      <a href="https://github.com/paulinedussart"  target="_blank" class="text-decoration-none nav-item"><i class="fab fa-github"></i></a>
      <a href="https://dribbble.com/paulinedussart"  target="_blank" class="text-decoration-none nav-item"><i class="fab fa-dribbble"></i></a>
      <a href="https://www.linkedin.com/in/paulinedussart/" target="_blank" class="text-decoration-none nav-item"><i class="fab  fa-linkedin-in"></i></a>
    </ul>
  </div>

</div>
