<div id="home" class="row d-flex justify-content-between">
  <div class="col-12 col-lg-6 presentation">
    <h1>Hello, I'm <br>Pauline Dussart.</h1>
    <p>I’m a <span>French Front-End Developper</span>  and <span>Web Designer</span> currently working as Freelance. I learn to code in 2019 at <a href="https://www.lewagon.com/fr"><span>Le Wagon</span></a> and I felt in love with front-end development and javascript. </p>
    <button class="btn downloadCV">Download my CV</button>


    <div class="sommaire" style="margin-top: 5rem;">
      <ul style="list-style: none;">
        <li><a class="text-decoration-none" href="">01 PROJETS</a></li>
        <li><a class="text-decoration-none" href="">02 WORK</a></li>
        <li><a class="text-decoration-none" href="">03 SKILLS</a></li>
      </ul>
    </div>
  </div>

  <div class="col-12 col-lg-6  " id="cards-project">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="left-column">
        <div class="clickable card-project one mt-5" onclick="location.href='https://www.google.com/';">
          <div class="card-body-project">
            <h5 class="card-compagny-projet">CODE FOR MARSEILLE</h5>
            <h6 class="card-place-projet  text-muted">Marseille — France</h6>
            <h6 class="card-date-projet text-muted">Septembre 2019</h6>
            <h4 class="card-compagny-projet my-4">MARCELLE</h4>
            <p class="card-text-projet">Application Mobile pour participer au développement de l'ecomobilité à Marseille. I create the design with Figma and create the pages with vue.js</p>
            <div class="d-flex justify-content-end logos-project">
              <a href="#" class="mx-1"><%= image_tag "ruby-on-rails.png", class: "logo_code" %></a>
              <a href="#" class="mx-1"><%= image_tag "vue.png", class: "logo_code" %></a>
            </div>
          </div>
        </div>
      </div>
      <div class="right-column">
        <div class="clickable card-project two" onclick="location.href='https://www.google.com/';">
          <div class="card-body-project">
            <h5 class="card-compagny-projet">GLOBWORKER</h5>
            <h6 class="card-place-projet  text-muted">France</h6>
            <h6 class="card-date-projet text-muted">Juin 2019</h6>
            <h4 class="card-compagny-projet my-4">GLOB...</h4>
            <p class="card-text-projet">Wireframe for the landing page of the Web App. A market place where people can by a month pass to access to different coworking.  nbvnbvnbvnbv </p>
            <div class="d-flex justify-content-end logos-project">
              <a href="#" class="mx-1"><%= image_tag "ruby-on-rails.png", class: "logo_code" %></a>
              <a href="#" class="mx-1"><%= image_tag "Postgresql.png", class: "logo_code" %></a>
            </div>
          </div>
        </div>

        <div class="clickable card-project three mt-2" onclick="location.href='https://www.google.com/';">
          <div class="card-body-project">
            <h5 class="card-compagny-projet">LE WAGON MARSEILLE</h5>
            <h6 class="card-place-projet  text-muted">Marseille — France</h6>
            <h6 class="card-date-projet text-muted">Juin 2019</h6>
            <h4 class="card-compagny-projet my-4">COWORKSPACE</h4>
            <p class="card-text-projet">Application Web (BtoBtoC) pour permettre de réserver sa place dans un espace de coworking. Gestion des réservations en tant qu’espace de cowork.  Application  développée lors des 2 dernières semaines du bootcamp</p>
            <div class="d-flex justify-content-end logos-project">
              <a href="#" class="mx-1"><%= image_tag "ruby-on-rails.png", class: "logo_code" %></a>
              <a href="#" class="mx-1"><%= image_tag "Postgresql.png", class: "logo_code" %></a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
