<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pauline Dussart</title>

	<meta name="description" content="Mobile and Web Front-end Developer who likes to bring ideas and prototypes to life so that users can enjoy the greatest experience.">

	<!-- Facebook Open Graph data -->
	<meta property="og:title" content="Pauline DUSSART | Front-End developper & UI Designer" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.paulinedussart.com" />
	<meta property="og:image" content="https://res.cloudinary.com/dnipaadap/image/upload/v1608214283/IMG_2113_i5pbwd.jpg" />
	<meta property="og:description" content="Mobile and Web Front-end Developer who likes to bring ideas and prototypes to life so that users can enjoy the greatest experience." />
	<meta property="og:site_name" content="Pauline DUSSART | Front-End developper & UI Designer" />

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@pauline_dussart">
	<meta name="twitter:title" content="Pauline DUSSART | React front-end developper & UI Designer">
	<meta name="twitter:description" content="Mobile and Web Front-end Developer who likes to bring ideas and prototypes to life so that users can enjoy the greatest experience.">
	<meta name="twitter:creator" content="@pauline_dussart">
	<meta name="twitter:image:src" content="https://res.cloudinary.com/dnipaadap/image/upload/v1608214283/IMG_2113_i5pbwd.jpg">

  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%#= stylesheet_pack_tag 'application', media: 'all' %>
  <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" data-turbolinks-eval=false data-turbolinks-run-once=true></script>
</head>

<body class="container">
  <%= render 'shared/navbar' %>

  <div id="content">
    <%= yield %>
  </div>
  <%= javascript_pack_tag 'application' %>
  <!-- from app/javascript/packs/application.js -->
</body>

</html>